:root {
  --green: #adff2f;
  --black: #0e1114;
  --white: #f1ffdc;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.sr-only {
  width: 0px;
  height: 0px;
  margin: 0;
  padding: 0;
}

.user-icon {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: bold;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  background-color: var(--green);
  color: var(--black);
  border: 2px solid var(--white);

  width: 48px;
  height: 48px;

  border-radius: 32px;

  font-size: 3.2rem;
  font-weight: normal;
}

button {
  font-size: 1.6rem;
}
/*  pre existing */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
